body {
    background-color: #e8e8e8;

}


/* --- Cursor --- */



/* --- Navbar --- */

.container {
    display: flex;
    align-items: center;
    margin-bottom: 75px;
}

.logo {
    width: 190px;
    height: 130px;
    margin-right: 140px;
    padding-right: 120px;
    padding-left: 40px;
}

.header-content {
    display: flex;
    align-items: center;
}

.header-buttons {
    display: flex;
    list-style: none;
    margin-left: 1600px;
    justify-content: center;
    
}

.inline-block {
  padding: 0.1em 0.25em;
  width: 13em;
  height: 4.2em;
  background-color: #212121;
  border: 0.20em solid #fff;
  border-radius: 0.1em;
  font-size: 16px;
  cursor: pointer;
}

.inline-block button {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 0.3em;
  width: 8.25em;
  height: 2.5em;
  background-color: #212121;
  border-radius: 0.2em;
  font-size: 1.5em;
  color: #fff;
  border: 0.08em solid #fff;
  box-shadow: 0 0.4em 0.1em 0.019em #fff;
  font-family: 'Franklin Gothic Regular', 'Arial Narrow', Arial, sans-serif;
}

.inline-block button:hover {
  transition: all 0.5s;
  transform: translate(0, 0.4em);
  box-shadow: 0 0 0 0 #fff;
}

.inline-block button:not(hover) {
  transition: all 1s;
}

.header-buttons li {
    margin-right: 20px;
    
}

.header-buttons li:last-child {
    margin-right: 0;
}







/* --- About Me Section --- */

.about-me {
    display: flex;
    margin-bottom: 30px;
}

.profile-photo-container {
    margin-right: 30px;
    margin-left: 40px;
}

.profile-photo {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    border: 3px solid rgb(36, 33, 33);
}

.text-container {
   display: flex;
   flex-direction: column;   
}

.text-container h2 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 40px;
}

.text-container p {
    font-family: 'Franklin Gothic Regular', 'Arial Narrow', Arial, sans-serif;
    font-size: 24px;
    margin-right: 40px;
    width: 400px;
    margin-top: 20px;
}



/* --- Skills Section --- */

.skills {
    display: flex;
    margin-bottom: 100px;
}

.skillsContainer h2 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 40px;
    margin-left: 380px;
}

.skillsContainer p {
    font-family: 'Franklin Gothic Regular', 'Arial Narrow', Arial, sans-serif;
    width: 400px;
    margin-left: 380px;
    font-size: 24px;
}


/* --- Case Studies --- */

.myWork {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 40px;
  color: black;
  margin-left: 380px;
  bottom: 100px;
  white-space: nowrap;
}

.csWrapper {
  display: flex;
  height: 50vh;
  justify-content: space-around;
}

.csWrapper > .casestudyContainer,
.csWrapper > .getgoldenContainer,
.csWrapper > .fccContainer {
  box-sizing: border-box;
  justify-content: space-around;
  position: relative;
}

.cardMonarch {
  display: flex;
  justify-content: space-between;
  gap: 200px;

}


 /* -- Case Study 1 -- */

.casestudyContainer {
  color: white;
  font-family: sans-serif;
  width: 50%;
}

.casestudyContainer::before,
.casestudyContainer::after {
  content: "";
  background-color: #cf34d48e;
  position: absolute;
}

.casestudyContainer::before {
    border-radius: 50%;
    width: 16rem;
    height: 16rem;
    content: "";
    left: 840px;
    top: 1570px;
  }

  .casestudyContainer::after {
    content: "";
    position: absolute;
    height: 2.5rem;
    top: 8%;
    right: 5%;
    border: 1px solid;
  }

  .casestudyContainer .caseStudy1 {
    width: 23.75em;
    height: 31.75em;
    padding: 1rem;
    background-color: rgba(255, 255, 255, 0.074);
    border: 1px solid rgba(255, 255, 255, 0.222);
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px);
    border-radius: 0.7rem;
    transition: all ease 0.3s;
    
  }

  .casestudyContainer .caseStudy1 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .casestudyContainer .caseStudy1 .title {
    font-size: 2.5rem;
    font-weight: 500;
    letter-spacing: 0.1em;
    hyphens: auto;
    word-wrap: break-word;
  }

  .casestudyContainer .caseStudy1 div strong {
    display: block;
    margin-bottom: 0.5rem;
    font-size: 30px;
  }

  .casestudyContainer .caseStudy1 div button {
    margin: 0;
    font-size: 1.3em;
    font-weight: 300;
    letter-spacing: 0.1em;
    color: rgba(0, 0, 0, 0.651);
    border-color: rgba(0, 0, 0, 0.301) ;
  }
  
  .casestudyContainer .caseStudy1:hover {
    box-shadow: 0px 0px 40px 1px #fc4afc7a;
  border: 1px solid rgba(255, 255, 255, 0.454);
  }

    /* -- Case Study 2 -- */
    
  .getgoldenContainer {
      color: white;
      font-family: sans-serif;
      width: 50%;
  } 

  .getgoldenContainer::before,
  .getgoldenContainer::after {
    content: "";
    background-color: #e2df35;
    position: absolute;
  }

  .getgoldenContainer::before {
    border-radius: 50%;
    width: 16rem;
    height: 16rem;
    content: "";
    margin-left: 70px;
    margin-top: 150px;
  }

  .getgoldenContainer::after {
    content: "";
    position: absolute;
    height: 3rem;
    top: 8%;
    right: 5%;
    border: 1px solid;
  }


  .getgoldenContainer .caseStudy2 {
    width: 23.75em;
    height: 31.75em;
    padding: 1rem;
    background-color: rgba(255, 255, 255, 0.074);
    border: 1px solid rgba(255, 255, 255, 0.222);
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px);
    border-radius: 0.7rem;
    transition: all ease 0.3s;
  }

  .getgoldenContainer .caseStudy2 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
   
  }

  .getgoldenContainer .caseStudy2 .title {
    font-size: 2.5rem;
    font-weight: 500;
    letter-spacing: 0.1em;
    hyphens: auto;
    word-wrap: break-word;
  }

  .getgoldenContainer .caseStudy2 div strong {
    display: block;
    margin-bottom: 0.5rem;
    font-size: 30px;
  }

  .getgoldenContainer .caseStudy2 div button {
    margin: 0;
    font-size: 1.3em;
    font-weight: 300;
    letter-spacing: 0.1em;
    color: rgba(0, 0, 0, 0.651);
    border-color: rgba(0, 0, 0, 0.301) ;
  }

  .getgoldenContainer .caseStudy2:hover {
    box-shadow: 0px 0px 40px 1px #e3fa1877;
  border: 1px solid rgba(255, 255, 255, 0.454);
  }


 /* -- Case Study 3 -- */
 .fccContainer {
  color: white;
  font-family: sans-serif;
  width: 50%;
} 

.fccContainer::before,
.fccContainer::after {
content: "";
background-color: #0c49f1;
position: absolute;
}

.fccContainer::before {
border-radius: 50%;
width: 16rem;
height: 16rem;
content: "";
margin-left: 70px;
margin-top: 150px;
}

.fccContainer::after {
content: "";
position: absolute;
height: 3rem;
top: 8%;
right: 5%;
border: 1px solid;
}


.fccContainer .caseStudy3 {
  width: 23.75em;
  height: 31.75em;
padding: 1rem;
background-color: rgba(255, 255, 255, 0.074);
border: 1px solid rgba(255, 255, 255, 0.222);
-webkit-backdrop-filter: blur(20px);
backdrop-filter: blur(20px);
border-radius: 0.7rem;
transition: all ease 0.3s;

}

.fccContainer .caseStudy3 {
display: flex;
flex-direction: column;
justify-content: space-between;

}

.fccContainer .caseStudy3 .title {
font-size: 2.5rem;
font-weight: 500;
letter-spacing: 0.1em;
hyphens: auto;
}

.fccContainer .caseStudy3 div strong {
display: block;
margin-bottom: 0.5rem;
font-size: 30px;
}

.fccContainer .caseStudy3 div button {
margin: 0;
font-size: 1.3em;
font-weight: 300;
letter-spacing: 0.1em;
color: rgba(0, 0, 0, 0.651);
border-color: rgba(0, 0, 0, 0.301) ;
}

.fccContainer .caseStudy3:hover {
box-shadow: 0px 0px 40px 1px #5d71e08e;
border: 1px solid rgba(255, 255, 255, 0.454);
}



/* --- Footer Section --- */

.footerContainer {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;

}

#connectButton {
  padding: 0.1em 0.25em;
  width: 13em;
  height: 4.2em;
  background-color: #212121;
  border: 0.08em solid #fff;
  border-radius: 0.3em;
  font-size: 30px;
  cursor: pointer;
}

#connectButton span {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 0.4em;
  width: 8.25em;
  height: 2.5em;
  background-color: #212121;
  border-radius: 0.6em;
  font-size: 1.5em;
  color: #fff;
  border: 0.08em solid #fff;
  box-shadow: 0 0.4em 0.1em 0.019em #fff;
}

#connectButton span:hover {
  transition: all 0.5s;
  transform: translate(0, 0.4em);
  box-shadow: 0 0 0 0 #fff;
}

#connectButton span:not(hover) {
  transition: all 1s;
}

.footerContainer button {
    font-family: 'Franklin Gothic Regular', 'Arial Narrow', Arial, sans-serif;
    font-size: 30px;

   
}

.footer-buttons {
    color: black;
    display: none;
    padding: 0;
    margin: 0;   
}

.footer-buttons button {
  border: none;
  background: none;
  cursor: pointer;
}

#dropdownContent.show {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 150px;
  margin-top: 50px;
}

.footer-buttons li {
  list-style: none;
  margin: 40px;
  display: inline-flex;

}

.footer-buttons li button {
  width: 100%;
  text-align: center;
}

.footer-blockL button img {
  width: 300px;
  height: auto;
  
}

.footer-blockE button img {
  width: 300px;
  height: auto;
  
}

.footer-blockP button img {
  width: 250px;
  height: auto;
  
}



